<div class="container">
    <div class="starter-template">
        <section class="content">
            <p>
                <h1 class="text-center"><span>Angular Social Sharing</span></h1>
            </p>
            <p class="text-center" style="font-size: 20px">A is a small library that lets you share info and links on social networks.
            </p>
            <p class="text-center">
                <a type="button" class="btn btn-lg btn-default" href="https://github.com/pasupulaphani/angular-socialsharing/tarball/master">Download TAR</a>
                <a type="button" class="btn btn-lg btn-default" href="#/demo" ng-show="false">Demo</a>
                <a type="button" class="btn btn-lg btn-default" href="https://github.com/pasupulaphani/angular-socialsharing">Github&nbsp;Project</a>
            </p>
        </section>
    </div>
</div>
